<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=".{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Library Search Engine</title>
</head>
<body>
    <div class="parent">
      {% include "base.html" %}
      <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullform.png' %}">
    </div>
    <div id="side">
      <form action="" method="POST">
          {% csrf_token %}
          <h1>Login</h1>
          <div class="form-group">
              <label for="username">{{form.username.label}}</label>
              {{form.username}}
          </div>
          <div class="form-group">
              <label for="password">{{form.password.label}}</label>
              {{form.password}}
          </div>
          <br>
              <input style="width: 20%;" class="align-self-center btn btn-dark" type="submit" id="submitButton" />
      </form>
      <div class="mb-5">
        <span style="font-size: .8em;"><a href="/regis/register">Belum punya akun?</a></span>
      </div>
      {% if status == 'failed' %}
      <div class="alert alert-danger" role="alert" style="margin-right: 30px;">
        Username atau Password salah.
      </div>
      {% endif %}
</body>
</html>