<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=".{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Library Search Engine</title>
</head>
<body>
    <div class="parent">
      {% include "base.html" %}
      <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullform.png' %}">
    </div>
    <div id="side">
      <h1 style="text-align: center;">Welcome Page</h1>
      {% if user.is_authenticated %}
        <h2>Halo {{ user.get_username }}!</h2> <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HPk-VhRjNI8"></iframe>
        <p><a href="/regis/logout">Log Out</a></p>
      {% else %}
        <h2>Kamu belum login. Coba login dulu deh</h2> <br>
        <button type="button" class="btn btn-dark" style="margin-left:400px;"><a href="login">Login</a></button>
        <p>&nbsp;</p>
        <button type="button" class="btn btn-dark" style="margin-left:395px;"><a href="register">Sign In</a></button>
      {% endif %}
    </div>
</body>

</html>