<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:static">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'theman' %}">Biography</a>
        <a class="nav-item nav-link" href="{% url 'education' %}">Education</a>
        <a class="nav-item nav-link" href="{% url 'experiences' %}">Experiences</a>
        <a class="nav-item nav-link" href="{% url 'specialties' %}">Specialties</a>
        <a class="nav-item nav-link" href="{% url 'forms:forms' %}">Forms</a>
      </div>
    </div>
  </nav>