<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>His Educational Background</title>
</head>
<body>
    <div class="parent">
        {% include "base.html" %}
        <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullbook.png' %}">
    </div>
    <div id="side">
        <h1 id="title">His Educational Background</h1>
        <p>&nbsp;</p>
        <img style="width:90%; padding-left: 40px;" src="{% static 'images/branch-min.png' %}" alt="IfItDoesntMatchAnyMedia">
    </div>
</body>
</html>