<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>His Specialties</title>
</head>
<body>
    <div class="parent">
        {% include "base.html" %}
        <img class="image1 img-fluid"  id src="{% static 'images/fulllaptop.png' %}">
    </div>
    <div id="side">
        <h1 id="title">His<br>Specialties</h1>
        <p>&nbsp;</p>
        <h2 style="font-weight: 1000;" id="title">HARD SKILLS</h2>
        <p>&nbsp;</p>
        <div class="row">
            <div class="column">
                <h2>Graphic Design</h2>
                <p id="content">Graphic Design is My Passion, so they say. But it’s true.
                He’s been learning the basics of design since He was in Middle School, 
                also with that He has gone to several graphic design competitions such as poster and others.</p>
            </div>
            <div class="column">
                <h2>Basic Programming</h2>
                <p id="content">Based on a year of experience in Computer Science, Python has been his favorite language to learn, and also the one he understands the most.
                He has built several projects with Python that you can see on his Gitlab.</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <div class="column">
                <h2>Web Design</h2>
                <p id="content">He spents most of his time learning the fundamentals of web design, understanding people’s needs in a program, and how they interact with it. 
                He has 1+ years of experience in HTML and CSS Web Programming.</p>
            </div>
            <div class="column">
                <h2>Video Editing</h2>
                <p id="content">Aside from graphic design, He also happens to have certain experience with video editing. 
                He has more then 5 years of experience in Vegas Pro. Also, he was once the school’s social media  content manager.</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <h2 style="font-weight: 1000;" id="title">SOFT SKILLS</h2>
        <p>&nbsp;</p>
        <div class="row">
            <div class="column">
                <h2>Team Player</h2>
                <p id="content">He always has been a team player. He always make sure his teammates finshes their jobs if he already finishes his. 
                Also, he easy to chat with, so don’t be afraid with awkwardness.</p>
            </div>
            <div class="column">
                <h2>Public Speaking</h2>
                <p id="content">He has a podcast called <a href="https://open.spotify.com/show/7aWU7wClxYH33ZWnoSGI1I">Awakward Podcast</a> that he created from 2018. 
                With that, he has an ability to speak fluently as a speaker, and enough confidence to convice people to hear his words.</p>
            </div>
        </div>
    </div>
</body>
</html>