<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/minime.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/home/style.css">
    <title>The Man Himself</title>
</head>
<body>
    <div class="parent">
        {% include "base.html" %}
        <img class="image1 img-fluid" style="width:500px;" src="../static/images/fullface.png">
    </div>
    <div id="side">
        <h1 id="title">The Man<br>Himself</h1>
        <p>&nbsp;</p>
        <p id="desc">Muhammad Rizki Fauzan is fine young gentleman who was born on July 27, 2001 in Jakarta. 
        Throughout his life, he always has a spark of interest in computing, whether it's about electrical stuff, or coding itself. 
        Ever since he understands what requirements are needed to learn computing, he learns a lot of math. 
        His interest of math and computing was continued to the point he got accepted to Computer Science Undergraduate Program in Universitas Indonesia in 2019. 
        Currently, he's learning web development, and this is one of his projects.
        </p>
        <p>&nbsp;</p>
        <ul>
            <li>Name: Muhammad Rizki Fauzan</li>
            <li>NPM: 1906400375</li>
            <li>Occupation: Student of Computer Science in Universitas Indonesia (2019)</li>
            <li>Hobbies: Watching YouTube Videos, Podcasting, Design</li>
        </ul>
    </div>
    
</body>
</html>