<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'home/script.js' %}"></script>
    <title>A Form Filled With Stuff</title>
</head>
<body>
    <div class="parent">
        {% include "base.html" %}
        <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullform.png' %}">
    </div>
    <div id="side">
      <h1 id="title">Accordion</h1>
      <p>&nbsp;</p>
      <div id="accordion">
        <div>
          <button type="button" class="moveup">^</button>
          <button type="button" class="movedown">V</button>
          <div id="header">
            <h3>1) Aktivitas Saat Ini</h3>
          </div>
          <div id="content">
            <p>
            Saat ini, tidak begitu banyak aktivitas yang saya lakukan. Rutinitas sehari-hari
            mudah kuhapal, mengingat tidak banyak hal yang bisa dilakukan ketika terjebak di rumah. Namun,
            saya menghadapi masa karantina ini dengan banyak mempelajari Perancangan dan Pemrograman Web.
            </p>
          </div>
        </div>
        <div>
          <button type="button" class="moveup">^</button>
          <button type="button" class="movedown">V</button>
          <div id="header">
            <h3>2) Pengalaman Organisasi</h3>
          </div>
          <div id="content">
            <ul>
              <li>Ketua Umum - Media Komunikasi 98 (2017 - 2018)</li>
              <li>Team Member - Product Marketing oGX AIESEC Universitas Indonesia (2019 - now)</li>
              <li>Anggota Divisi Media - DPM Fasilkom UI (2019 - now)</li>
            </ul>
          </div>
        </div>
        <div>
          <button type="button" class="moveup">^</button>
          <button type="button" class="movedown">V</button>
          <div id="header">
            <h3>3) Pengalaman Kepanitiaan</h3>
          </div>
          <div id="content">
            <ul>
              <li>Anggota Divisi Dokumentasi - Open House Fasillkom UI 2020 (2020)</li>
              <li>Anggota Tim Kreatif - Educare Fasilkom UI (2019)</li>
              <li>Anggota Divisi Dokumentasi - BETIS Fasilkom UI (2019 - now)</li>
            </ul>
          </div>
        </div>
        <div>
          <button type="button" class="moveup">^</button>
          <button type="button" class="movedown">V</button>
          <div id="header">
            <h3>4) Kesan/Pesan</h3>
          </div>
          <div id="content">
            <p>Projek ini memakan waktu yang lama, namun konsepnya tidak begitu sulit. saya
              membaca banyak sumber hingga tab chrome saya tidak terlihat tulisannya. 
              Projek ini saya selesaikan pada waktu 19.30 WIB, Hari Sabtu 28 November 2020.
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

