<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=".{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Library Search Engine</title>
</head>
<body>
    <div class="parent">
      {% include "base.html" %}
      <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullform.png' %}">
    </div>
    <div id="side">
      <h1 id="title">Library<br>Search Engine</h1>
      <p>&nbsp;</p>
      <input id="keyword" placeholder="Masukkan kata kunci">
      <p>&nbsp;</p>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sampul Buku</th>
            <th scope="col">Judul Buku</th>
            <th scope="col">Penerbit</th>
            <th scope="col">URL Buku</th>
          </tr>
        </thead>
        <tbody id="hasil">
        </tbody>
      </table>
    </div>
</body>

<script type="text/javascript">
  $("#keyword").keyup( function() {
    var isi_keyword = $("#keyword").val();
    var url_called = 'https://www.googleapis.com/books/v1/volumes?q=' + isi_keyword;
    $.ajax({
      url: url_called,
      success: function(hasil) {
        var obj_hasil = $("#hasil");
        obj_hasil.empty();

        for (i = 0; i < hasil.items.length; i++) {
          var tmp_title = hasil.items[i].volumeInfo.title;
          var tmp_thumbnails = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
          var tmp_publisher = hasil.items[i].volumeInfo.publisher;
          var url_book = hasil.items[i].volumeInfo.infoLink;
          var urut = i+1;
          console.log(hasil.items[i]);
          obj_hasil.append('<tr> <th scope="row">' + urut + '</th> <td> <img src=' + tmp_thumbnails + '> </td> <td>' + tmp_title + '</td> <td>' + tmp_publisher + '</td> <td> <a href=' + url_book + '>' + tmp_title + ' on Google Books</a> </td> </tr>')
        }
      }
    });
  });
</script>

</html>