<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>A Form Filled With Stuff</title>
</head>
<body>
    <div class="parent">
        {% include "base.html" %}
        <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullform.png' %}">
    </div>
    <div id="side">
        <h1 id="title">Current Activities</h1>
        <p>&nbsp;</p>
        <table class="table">
          <tbody>
              {% for kegiatan in isi_kegiatan %}
                   <div class="card">
                       <h5 class="card-header">{{kegiatan.kgt}}</h5>
                       <div class="card-body">
                           {% for peserta in isi_peserta %}
                               {% if peserta.kgt_pst == kegiatan %}
                                   <h5 class="card-text">{{peserta.pst}}</h5>
                               {% endif %}
                           {% endfor %}
                           <a href="buatpst/{{kegiatan.id}}"><button type="button" class="btn btn-primary">Tambah Peserta</button></a>
                           <a href="hapus/{{kegiatan.id}}"><button class="btn btn-icon btn-danger">Hapus Kegiatan</button></a>
                       </div>
                   </div>
               {% endfor %}
           </tbody>
      </table>
      
      <div class="d-flex justify-content-center">
         <a class="btn btn-outline-primary" href="buatkgt/" role="button">Buat Kegiatan Baru</a>
      </div>
    </div>
</body>
</html>

