h1 {
    font-family: "Yellowtail", Impact, Charcoal, sans-serif;
    font-stretch: extra-condensed;
    font-size: 8vw;
    font-weight: 1000;
}
h2 {
    text-align: center;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
}
p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
ul {
    list-style-type: circle;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}
figure {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.row {
    display: flex;
}
.column {
    flex: 50%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.kolom {
    float: left;
    width: 33.33%;
    padding: 30px;
  }
  
  /* Clear floats after image containers */
.baris::after {
    content: "";
    clear: both;
    display: table;
}
#title {
    text-align: center;
}
#desc {
    font-size:21px;
    text-align:justify;
}
#content{
    text-align:justify;
}
#side {
    margin-left:530px;
    padding-bottom:50px;
}
#side2 {
    margin-left:530px;
    padding-bottom:50px;
}
#intro {
    font-family: "Yellowtail", Impact, Charcoal, sans-serif;
    text-align: center;
    background-color:#fbe2e5;
    padding-top: 200px;
    padding-bottom: 200px;
}
#footer {
    font-family: "Yellowtail", Impact, Charcoal, sans-serif;
}
#text-left {
    position: relative;
    text-align: center; 
    align-items:center;
    margin-left:0;
    margin-right:auto;
    font-size:90px;
    width:710px;
    bottom:300px;
}
#theman {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right:100px;
    font-size:90px;
    width:710px;
    bottom:300px;
}
#education {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right:100px;
    font-size:90px;
    width:710px;
    bottom:350px;
}
.left {
    display: block;
    margin-left:200px;
    size: 50%;
    height:auto;
}
.right {
    display: block;
    margin-left: auto;
    margin-right:200px;
    size: 50%;
    height:auto;
}
.parent {
    position: fixed;
    top: 0;
    left: 0;
}
.image1 {
    width:500px; 
    position: relative;
    top: 0;
    left: 0;
}
@media (max-width: 575.98px) {

    h1 { 
       font-size: 50px;
    }
    h2 {
        font-size:30px;
    }
    .parent{
        position: static;
    }
    .image2 {
        top:50px;
    }
    .left {
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }
    .right {
        width:50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .kolom {
        width: 100%;
    }
    #intro {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #education{
        font-size: 30px;
        top: 20px;
        right:150px;
    }
    #theman{
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        right:150px;
    }
    #text-left {
        font-size:30px;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        right:150px; 
    }
    .column {
        width: 100%;
    }
    #side{
        margin-left: 40px;
        margin-right: 40px;
    }
    #side2{
        margin-left: 40px;
        margin-right: 20px;
    }
 }