<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=".{% static 'images/minime.jpg' %}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>A Form Filled With Stuff</title>
</head>
<body>
    <div class="parent">
        {% include "base.html" %}
        <img class="image1 img-fluid" style="width:500px;" src="{% static 'images/fullform.png' %}">
    </div>
    <div id="side">
        <h1 id="title">A Form<br>Filled with Stuff</h1>
        <p>&nbsp;</p>
        <form action="savename" method="GET">
            <div class="form-group">
                {% csrf_token %}
                {{ input_form.as_p }}
            <button type="submit" class="btn btn-dark" style="margin-left:50px">Submit</button>
            </div>
        </form>
        <p>&nbsp;</p>
        {% if matkuls %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nomor</th>
                <th scope="col">Mata Kuliah</th>
                <th scope="col">Nama Dosen</th>
                <th scope="col">Jumlah SKS</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Semester Tahun</th>
                <th scope="col">Ruang Kelas</th>
              </tr>
            </thead>
            {% for matkul in matkuls %}
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ matkul.name }}</td>
                <td>{{ matkul.dosen }}</td>
                <td>{{ matkul.sks }}</td>
                <td>{{ matkul.desc }}</td>
                <td>{{ matkul.smt }}</td>
                <td>{{ matkul.ruang }}</td>
              </tr>
            </tbody>
                {% endfor %}
            {% endif %}
        </table>
        <div class="d-flex justify-content-center">
          <a class="btn btn-light" href="{% url 'forms:readmatkul' %}" role="button">Click here to see the results</a>
      </div>
    </div>
    
</body>
</html>